#pinned-items-container {
	position: relative;
}

.pin-items {
	border: 1px solid #e0e0e0;
    background-color: white;
    padding: 0;
    width: 250px;
}

.pin-images-container {
    width: 230px;
    padding: 10px 10px 0;
}

.pin-images {
    width: 100%;
}

.pin-like-and-comment {
	padding: 5px 10px;
	font-size: 11px;
	color: #8888aa;
	margin: 0 -1px;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	border-bottom-color: #cccccc;
}

.pin-like {
	margin: 0 10px 0 0;
}

.pin-action {
	position: absolute;
	width: 230px;
	padding: 20px 15px;
	display: none;
}

.pin-action a, .pin-post-comment a {
	text-decoration: none;
	font-size: 11px;
	background-color: #dddddd;
	border-radius: 3px;
	border: 1px solid #555555;
	color: #333333;
	padding: 4px 8px;
	cursor: pointer;
}

.pin-action a:hover, .pin-post-comment a:hover {
	background-color: #bbbbbb;
	border-color: #333333;
}

.pin-description {
	padding: 10px 10px;
	color: #000000;
}

.pin-comment {
	margin: 0 -1px;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	border-top-color: white;
	border-bottom-color: #cccccc;
	padding: 10px;
	min-height: 30px;
}

.pin-owner-avatar {
	background-color: #dddddd;
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #cccccc;
}

.pin-comment-text {
	margin: 0 0 0 40px;
}

.pin-comment-timestamp {
	margin: 5px 0 0 0;
	font-size: 10px;
	color: #888888;
}

.pin-comment-message {
	white-space: pre-wrap;
}

.pin-new-comment-message {
	margin: 0px;
	height: 60px;
	outline:none;
	width: 180px;
	border: 1px solid #cccccc;
	word-wrap: normal;
	 
}

.pin-post-comment {
	text-align: right;
	margin: 15px 0 5px 0;
}

#go_to_top {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
}
